---
tags: d2
name: "Candy Mero-Carlson"
headshot: candy.png
status: incumbent
description: "Candy Mero-Carlson is the five-term councilor for District 2. She's recently been under fire for allegedly-but-almost-definitely making transphobic and anti-refugee comments about her peers. Candy chairs the Economic Development Committee."
sortOrder: 3
layout: candidate.liquid
---
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">Candy Mero-Carlson is the five-term councilor for District 2, and is one of the most conservative members of the city council - a Democrat In Name Only. She's recently been under fire for allegedly-but-almost-definitely making <a href="https://www.worcestersucks.email/p/deny-deflect-retaliate" target="_blank">transphobic and anti-refugee comments</a> about her peers. Candy chairs the Economic Development Committee. Mero-Carlson <a href="https://www.instagram.com/p/DE3Mll2yHlY/" target="_blank">claimed to not recall making the comments</a>, but went on to explain that the week-where-she-definitely-did not-make-any-transphobic-comments “was a challenging and emotional week”.</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section><!--
<section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li><b>Housing</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li><b>Immigration</b>: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</li>
    <li><b>LGBTQ+</b>: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>-->
