---
tags: atlarge
name: "Donna Colorio"
title: "Donna Colorio: Worcester City Council 2025 Election Guide"
headshot: colorio.png
status: incumbent
description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
sortOrder: 2
layout: candidate.liquid
---
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
<section>
  <h2>What are {{name}}'s Political Positions?</h2>
  <ul>
    <li>
      <b>LGBTQ+</b>: Colorio voted against a resolution to declare Worcester a <a href="https://www.wgbh.org/news/local/2025-02-12/worcester-city-council-votes-to-make-city-sanctuary-for-transgender-people" target="_blank">sanctuary for transgender and gender-diverse people</a>. She <a href="https://theworcesterguardian.org/f/councilors-face-pressure-to-back-words-with-action-for-lgbtqia" target="_blank">unsuccessfully tried to water down a resolution to commit $500,000 for a Queer and Trans resilience fund</a>, attempting to replace the word "commit" with "consider".
    </li>
  </ul>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
