---
tags: d5
name: "Etel Haxhiaj"
status: incumbent
headshot: etel.png
description: "Etel Haxhiaj has served District 5 for four years by championing progressive causes and standing up for immigrants, often drawing the ire of local conservatives. Haxhiaj works as the Senior Policy Manager for the National Health Care for the Homeless Council, and chairs the city's Education Committee."
sortOrder: 9
layout: candidate.liquid
---
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">{{description}}</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
<!--<section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li><b>Housing</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li><b>Immigration</b>: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</li>
    <li><b>LGBTQ+</b>: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
-->
