---
tags: atlarge
name: "Jessica Pepple"
headshot: pepple.png
status: candidate
description: "Jessica Pepple is an Ed. D in Educational Leadership & Policy Studies, and works as the Chief Diversity and Culture officer at RFK Community Alliance, a non-profit."
sortOrder: 12
layout: candidate.liquid
---
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">Jessica Pepple works as the chief diversity and culture officer at RFK Community Alliance, a non-profit that "promote meaningful and sustained well-being for children, youth, and adults facing educational, developmental, mental health, and other challenges"</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
<!--<section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li><b>Housing</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li><b>Immigration</b>: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</li>
    <li><b>LGBTQ+</b>: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>-->
