---
tags: d3
name: "John Fresolo"
status: candidate
headshot: fresolo.png
description: "John Fresolo is a former state senator who resigned amid allegations that he abused state reimbursements and sent unsolicited dick pics to a staffer. He's also been arrested for domestic violence."
sortOrder: 5
layout: candidate.liquid
---
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">John Fresolo is a former state senator, who resigned to avoid an ethics investigation amid allegations that he <a href="https://www.dailymail.co.uk/news/article-2297618/Massachusetts-lawmaker-took-pictures-genitals-female-coworkers-computer.html" target="_blank">sent pictures of his genitals to a staffer</a> and filed for <a href="https://www.boston.com/uncategorized/noprimarytagmatch/2013/05/21/worcester-democrat-could-face-house-rebuke/" target="_blank">suspicious per diem reimbursements</a>. Since resigning in (alleged) disgrace, he has been accused of physically abusing his teenage daughter and hanging out in cemeteries under mysterious circumstances. In his free time, John works as a Business Development Executive for Gold Star Builders, a real estate developer, corporate landlord, and <a href="https://business.worcesterchamber.org/list/member/gold-star-builders-inc-35147" target="_blank">member of the Chamber of Commerce</a>.</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
  <section>
  <h2>What are {{name}}'s Political Positions?</h2>
  <p>John Fresolo's website doesn't include any policy proposals other than "supports lowest residential tax rate". Here's what else we know about him:</p>
  <ul>
    <li><b>Graveyards: </b> John Fresolo is a big fan of <a href="https://www.telegram.com/story/news/local/worcester/2006/02/21/cell-phone-could-solve-grave/53127548007/">hanging out in cemeteries after hours, for undisclosed reasons</a>. Fresolo shows little-to-no respect for cemetary gates, having either pried the hinges off or rammed his car through one, depending on who you ask.</li>
    <li><b>Domestic Violence:</b> Fresolo was arrested and charged with assault and battery in 1996, when he told police he hit his wife "because she was complaining about his family". In 2006, the Department of Social Services substantiated allegations that Fresolo physically abused his 13-year old daughter. <sup><a href="https://www.telegram.com/story/news/local/north/2006/04/30/state-rep-s-long-arm/53103274007/" target="_blank">source</a></sup>
  </ul>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
