---
tags: d5
name: "Jose Rivera"
status: candidate
headshot: rivera.png
description: "Jose Rivera is a former three-time WBA welterweight and super welterweight champion. Rivera has an impressive record, racking up 43 wins over 50 career fights, 25 by knockout. Rivera stands at 5'8\" tall and has a 70\" reach."
sortOrder: 10
layout: candidate.liquid
---
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">{{description}}</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
  <section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li>
      <b>Police:</b> Rivera is staunchly against "defunding the police", and "will advocate for increased patrols where residents and businesses feel they are needed" (read: increased police presence in Worcester's marginalized communities and non-white neighborhoods). He does not believe city council should have oversight of the police department. <sup><a href="https://patch.com/massachusetts/worcester/worcester-2023-council-candidate-jose-rivera-10-questions" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Public Transportation:</b> Rivera has attempted to <a href="https://patch.com/massachusetts/worcester/worcester-mill-street-redesign-get-public-hearing-after-controversy" target="_blank">block protected bike lanes and traffic calming measures on Mill Street</a>, a project that has since <a href="https://theworcesterguardian.org/f/council-presses-for-answers-on-mill-street-safety-costs-steps">reduced automotive speeding and crashes</a>.
    </li>
  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
