---
tags: d4
name: "Luis Ojeda"
status: incumbent
headshot: ojeda.png
description: "Luis Ojeda is a lifelong Worcester resident, first-term city councilor, and Assistant Principal at University Park Campus School. He chairs the Public Health and Human Services committee."
sortOrder: 7
layout: candidate.liquid
---
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">Luis Ojeda is a lifelong Worcester resident, first-term city councilor, and Assistant Principal at University Park Campus School. Ojeda has worked in education for over 20 years, as a physical education teacher prior to becoming assistant principle. He's involved with several non-profit causes, including Worcester Latino Dollars for Scholars, the Pleasant Street Neighborhood Network Center, 508 Forever Young, and Worcester Coaches 4 Change. On City Council, he chairs the Public Health and Human Services committee.</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
<!--<section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li><b>Housing</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li><b>Immigration</b>: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</li>
    <li><b>LGBTQ+</b>: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
-->
