---
tags: atlarge
name: "Moe Bergman"
headshot: bergman.png
status: incumbent
description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
sortOrder: 1
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Candy Mero-Carlson: Worcester City Council 2025 Election Guide</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <header class="header header--candidate">
      <div class="header__presents">
        <img src="../images/mascot-small.jpg" alt=""/>
        <p>Worcester City Council 2025 Election</p>
      </div>
      <div class="header__body header__body--candidate">
        <div>
          <img class="header__head" src="../images/head-sample.png" alt=""/>
        </div>
        <div>
          <h1>Candy Mero-Carlson</h1>
          <p>Incumbent, District 2</p>
        </div>
      </div>
    </header>
    <main>
      <section>
        <h2>Who is Candy Mero-Carlson?</h2>
        <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
      </section>
        <section>
        <h2>What are Candy Mero-Carlson's Political Positions?</h2>

        <ul>
          <li><b>Housing</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li><b>Immigration</b>: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</li>
          <li><b>LGBTQ+</b>: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>

        <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
      </section>
      <section class="section--wide">
        <h2>Who are Candy Mero-Carlson's Financial Backers?</h2>
        <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="grid grid--4">
          <div>
            <table>
              <caption class="table__title">Candy Mero-Carlson's Campaign Contributions, Categorized</caption>
              <tr>
                <th>Category</th>
                <th>Total Raised</th>
              </tr>
              <tr>
                <td class="table__candidate">Real Estate</td>
                <td class="table__value">$XX,000</td>
              </tr>
              <tr>
                <td class="table__candidate">Police</td>
                <td class="table__value">$XX,000</td>
              </tr>
              <tr>
                <td class="table__candidate">Education</td>
                <td class="table__value">$XX,000</td>
              </tr>
              <tr>
                <td class="table__candidate">Other</td>
                <td class="table__value">$XX,000</td>
              </tr>
            </table>
          </div>
          <div class="card">
            <h3>Joey Police Union</h3>
            <img class="header__head" src="../images/head-sample.png" alt=""/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <p class="donations">Lifetime Donations: $XX,000</p>
            <p class="center"><span class="pill pill--blue">Police</span></p>
          </div>
          <div class="card">
            <h3>Mr. Woosox</h3>
            <img class="header__head" src="../images/head-sample.png" alt=""/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <p class="donations">Lifetime Donations: $XX,000</p>
            <p class="center"><span class="pill pill--lavender">Real Estate</span></p>
            <p class="center"><span class="pill">Business</span></p>
          </div>
          <div class="card">
            <h3>Suzy STEM</h3>
            <img class="header__head" src="../images/head-sample.png" alt=""/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <p class="donations">Lifetime Donations: $XX,000</p>
            <p class="center"><span class="pill pill--mint">Education</span></p>
          </div>
        </div>

        <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
      </section>
    </main>
    <footer>
      <div class="container">
        <h2 class="footer__hed">Worcester City Council Election Guide</h2>
        <div class="grid grid--3">
          <div>
            Logo
          </div>
          <div>
            <h3>At-Large Candidates</h3>
            <ul>
              <li>Bernard Iandoli</li>
              <li>Cayden Davis</li>
              <li>Charles Luster</li>
              <li>Donna Colorio</li>
              <li>Edson Montero</li>
              <li>Gary Rosen</li>
              <li>Jermoh Kamara</li>
              <li>Jessica Pepple</li>
              <li>Joe Petty</li>
              <li>Kate Toomey</li>
              <li>Khrystian King</li>
              <li>Morris Bergman</li>
              <li>Owura-Kwaku Sarkodieh</li>
              <li>Satya Mitra</li>
            </ul>
          </div>
          <div>
            <h3>District Candidates</h3>
            <ul>
              <li>Keith Linhares</li>
              <li>Tony Economou</li>
              <li>Candy-Mero Carlson</li>
              <li>Robert Bilotta</li>
              <li>John Fresolo</li>
              <li>Robert Pezzella</li>
              <li>Luis Ojeda</li>
              <li>Ted Kostas</li>
              <li>Etel Haxjhiaj</li>
              <li>Jose Rivera</li>
            </ul>
          </div>
        </div>
        <p>This has been a special presentation of <a href="https://www.worcestersucks.email/" target="_blank">Worcester Sucks</a>. If you'd like to support more independent, local journalism, including this project, <a href="https://www.worcestersucks.email/" target="_blank">subscribe here</a>.</p>
        <p class="timestamp">Last Updated August 10, 2025</p>
      </div>
    </footer>
  </body>
</html>
