---
tags: atlarge
name: "Moe Bergman"
headshot: bergman.png
status: incumbent
description: 'Moe Bergman is an attorney and six-term incumbent and self-proclaimed "moderate" who mostly votes with the conservative-leaning majority.'
sortOrder: 1
layout: candidate.liquid
---
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">{{description}}</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
  <section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li>
      <b>LGBTQ+</b>: Moe Bergman voted against a resolution to declare Worcester a <a href="https://www.wgbh.org/news/local/2025-02-12/worcester-city-council-votes-to-make-city-sanctuary-for-transgender-people" target="_blank">sanctuary for transgender and gender-diverse people</a>. Bergman <a href="https://theworcesterguardian.org/f/councilors-face-pressure-to-back-words-with-action-for-lgbtqia" target="_blank">unsuccessfully tried to water down a resolution to commit $500,000 for a Queer and Trans resilience fund</a>, attempting to replace the word "commit" with "consider".
    </li>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
