---
tags: atlarge
name: "Satya Mitra"
headshot: mitra.png
status: candidate
description: 'Satya Mitra is a Ph.D. in biochemistry whose life "took a transformative turn" when he pivoted to tax consulting and financial services.'
sortOrder: 10
layout: candidate.liquid
---
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">Satya Mitra is a Ph.D. in biochemistry whose life "took a transformative turn" when he pivoted to tax consulting and financial services. Mitra is the former chair and a current director for the board of the Worcester Regional Chamber of Commerce.</p>
  <p class="section__description">Mitra has raised an enormous amount of money for a first-time candidate, mostly thanks to wealthy donors from outside of Worcester. <a href="https://theworcesterguardian.org/f/meet-the-candidates-satya-mitra%E2%80%99s-says-hes-grounded-in-facts" target="_blank">According to him</a>, “Many of these donors, though not residents, have a vested interest in Worcester — through investment properties, business activities, or family ties.”</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
<!--<section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li><b>Housing</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li><b>Immigration</b>: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</li>
    <li><b>LGBTQ+</b>: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>-->
