---
tags: d4
name: "Ted Kostas"
status: candidate
headshot: kostas.png
description: "Ted Kostas is a rare openly-republican candidate for City Council. Kostas is a member of the Worcester Republican City Committe, and has backed Donald Trump and RFK Jr. in the past. He is a project coordinator for Open Sky Community Services."
sortOrder: 8
layout: candidate.liquid
---
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">Ted Kostas is a rare openly-republican candidate for City Council. Kostas is a member of the Worcester Republican City Committe, and <a href="https://patch.com/massachusetts/worcester/ted-kostas-among-5-candidates-seeking-worcester-district-4-seat" target="_blank">has backed Donald Trump and RFK Jr. in the past</a>. He is a program coordinator for Open Sky Community Services.</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
<!--<section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li><b>Housing</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li><b>Immigration</b>: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</li>
    <li><b>LGBTQ+</b>: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>-->
