<section class="section--wide">
  <h2>Who are {{name}}'s Financial Backers?</h2>
  <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <div class="grid grid--4">
    <div>
      <table>
        <caption class="table__title">{{name}}'s Campaign Contributions, Categorized</caption>
        <tr>
          <th>Category</th>
          <th>Total Raised</th>
        </tr>
        <tr>
          <td class="table__candidate">Real Estate</td>
          <td class="table__value">$XX,000</td>
        </tr>
        <tr>
          <td class="table__candidate">Police</td>
          <td class="table__value">$XX,000</td>
        </tr>
        <tr>
          <td class="table__candidate">Education</td>
          <td class="table__value">$XX,000</td>
        </tr>
        <tr>
          <td class="table__candidate">Other</td>
          <td class="table__value">$XX,000</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h3>Joey Police Union</h3>
      <img class="header__head" src="../images/head-sample.png" alt=""/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p class="donations">Lifetime Donations: $XX,000</p>
      <p class="center"><span class="pill pill--blue">Police</span></p>
    </div>
    <div class="card">
      <h3>Mr. Woosox</h3>
      <img class="header__head" src="../images/head-sample.png" alt=""/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p class="donations">Lifetime Donations: $XX,000</p>
      <p class="center"><span class="pill pill--lavender">Real Estate</span></p>
      <p class="center"><span class="pill">Business</span></p>
    </div>
    <div class="card">
      <h3>Suzy STEM</h3>
      <img class="header__head" src="../images/head-sample.png" alt=""/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p class="donations">Lifetime Donations: $XX,000</p>
      <p class="center"><span class="pill pill--mint">Education</span></p>
    </div>
  </div>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
