<header class="header header--candidate">
  <div class="header__body">
    <h1>{{ title }}</h1>
    <p>{{description}}</p>
    <p class="header__smalltext header__smalltext--margin">by Greg Opperman</p>
  </div>
</header>
