<header class="header header--candidate">
  <div class="header__presents">
    <a class="header__link" href="{{site.url}}">
      <img src="{{site.url}}/images/mascot-small.png" alt=""/>
      <p>Worcester City Council 2025 Election</p>
    </a>
  </div>
  <div class="header__body">
    <h1>{{ title }}</h1>
  </div>
</header>
