<nav aria-role="navigation" class="navigation">
  <div class="navigation__wrapper">
    <div class="navigation__title">
      <img src="{{site.url}}/images/mascot-small.png" alt=""/>
      <p>Worcester Sucks Presents...</p>
    </div>
    <div class="navigation__links">
      <a href="{{site.url}}/">Candidates</a>
      <a href="{{site.url}}/donors">Donors</a>
    </div>
  </div>
</nav>
