{% assign candidate = candidates | find: 'name', name %}
<!DOCTYPE html>
<html lang="en">
  {% render "head.liquid", site: site, title: title %}
  <body>
    {% render "candidate/header.liquid", site: site, name: name, status: status, headshot: headshot , district: tags %}
    <main>
      {{ content }}
      {% render "candidate/financials.liquid", site: site, candidate: candidate %}
    </main>
    {% include "footer.liquid", site: site %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{site.url}}/charts.js"></script>
  </body>
</html>
