{% assign candidate = candidates | find: 'name', name %}
<!DOCTYPE html>
<html lang="en">
  {% capture description %}
    Learn about {{name}}, their background, views, and most importantly, where they get their money, in the Worcester City Council 2025 Election Guide.
  {% endcapture %}
  {% render "head.liquid", site: site, title: title, description: description %}
  <body>
    <div class="body__wrapper">
      {% include "navigation.liquid" %}
      {% render "candidate/header.liquid", site: site, name: name, status: status, headshot: headshot , district: tags %}
      <main>
        {{ content }}
        {% render "candidate/financials.liquid", site: site, candidate: candidate %}
      </main>
      {% include "footer.liquid", site: site %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{site.url}}/js/charts.js"></script>
  </body>
</html>
